rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function usuarioAutorizado() {
      return request.auth != null
        && request.auth.token.email in [
          "rvpiffer@gmail.com",
          "talileopoldino@gmail.com"
        ];
    }

    match /projects/{projectId} {
      allow read, write: if usuarioAutorizado();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
